#navbar li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#navbar li i {
    display: none;
}

@media screen and (max-width: 1024px) {
    #navbar li i {
        display: block;
    }
}

#navbar li .hover-nav {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

#navbar li .hover-nav::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-radius: 1px 1px;
}

#navbar li .hover-nav:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.navbar--active-content {
    color: #d4d4d4;
}

